p {
    text-align: center;
    margin-top: 40px;
}

#start_game {
    height:30px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}

#start_game:hover {
    cursor: pointer;
}

#alpha {
    height: 300px;
    width: 500px; 
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 140px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */

}

.omega {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 10px 10px 10px;
    /* margin-top: 10px; */
    line-height: 40px;
    font-size: 30px;
    display: inline-block;
}



.current {
    height: 40px;
    width: 40px;
    border-bottom: 1px solid black;
    margin-top: 8px;
    margin-right: 16px;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    color: white;
}

.omega:hover, .replay {
    cursor: pointer;
}

#container{
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    height: 60px;
    width: 100%;
    /* border: 1px solid black; */

}

#chances {
    height: 30px;
    width: 100%;
    /* border: 1px solid black; */
    font-size: 40px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    line-height: 30px;
}

.replay {
    height:30px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}